{{template "base" .}}
{{define "title"}}User {{end}}
{{define "main"}}
    <div class='article'>
        <div class='metadata'>
            <strong>User: {{.User.Name}}</strong>
        </div>
        <div>
            <p>Email: {{.User.Email}}</p>
            <p>Version: #{{.User.Version}}</p>
        </div>
    </div>
{{end}}